/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #E0EAFC;
  background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC); 
  background: linear-gradient(to left, #CFDEF3, #E0EAFC);
  background-image:url('https://image.jimcdn.com/app/cms/image/transf/none/path/sc77e1e58a42c514a/image/i9977c7b3a6db203a/version/1516578954/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Encabezado */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  background-image:url('https://i.pinimg.com/originals/55/01/60/5501609ee45d514d1f2c4a63502045e2.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(7, 0, 108, 0.525);
}

.header h1 {
  margin: 0;
  font-size: 36px;

}


/* Navegación */
.navegation_bar {
  
  padding: 10px;
  text-align: end;
}

.navegation_bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navegation_bar li {
  display: inline-block;
  margin-right: 10px;

}

.navegation_bar a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.A:hover{
  color: yellow;
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.05);

}

.imgh{
  height: 150px;
    width: 280px;
}